In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlparse in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython-sql) (0.3.1)
Requirement already satisfied: six in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython-sql) (1.3.13)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: traitlets>=4.2 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (45.2.0.post20200210)
Requirement already satisfied: decorator in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: jedi>=0.10 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.14.1)
Requirement already satisfied: pickleshare in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.2)

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (2.8.6)

In [3]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\tijesunimi2-pc\anaconda3\lib\site-packages (1.3.13)

In [4]:
%load_ext sql

In [5]:
import psycopg2

In [6]:
from sqlalchemy import create_engine

In [7]:
# Example format
%sql postgresql://postgres:Asabi490@localhost/10acad_moodle

In [8]:
%%sql

SELECT * FROM mdl_logstore_standard_log LIMIT 3

 * postgresql://postgres:***@localhost/10acad_moodle
3 rows affected.

[(1, '\\core\\event\\course_viewed', 'core', 'viewed', 'course', None, None, 'r', 2, 2, 50, 1, 0, 1, None, 0, 'N;', 1548311114, 'web', '105.233.48.139', None),
 (2, '\\core\\event\\user_loggedin', 'core', 'loggedin', 'user', 'user', 2, 'r', 0, 1, 10, 0, 2, 0, None, 0, 'a:1:{s:8:"username";s:5:"admin";}', 1548311148, 'web', '105.233.48.139', None),
 (3, '\\core\\event\\dashboard_viewed', 'core', 'viewed', 'dashboard', None, None, 'r', 0, 5, 30, 2, 2, 0, 2, 0, 'N;', 1548311179, 'web', '105.233.48.139', None)]

#### Write an SQL script to count the number of tables

In [49]:
%%sql

SELECT COUNT(*)
  FROM INFORMATION_SCHEMA.TABLES
 WHERE table_catalog = '10acad_moodle'

 * postgresql://postgres:***@localhost/10acad_moodle
1 rows affected.

[(642,)]

In [44]:
%%sql

SELECT COUNT(*)
  FROM INFORMATION_SCHEMA.COLUMNS
 WHERE table_catalog = '10acad_moodle'
   AND table_name = 'mdl_context_temp'

 * postgresql://postgres:***@localhost/10acad_moodle
1 rows affected.

[(4,)]

#### Write an SQL script to count the number of records in each of the tables given in the MIT section

In [ ]:
mit_sesssion = ['mdl_logstore_standard_log', 'mdl_context', 'mdl_user'
                'mdl_course', 'mdl_modules', 'mdl_course_modules',
                'mdl_course_modules_completion', 'mdl_grade_grades']

In [65]:
%%sql

SELECT (SELECT COUNT(*) FROM mdl_logstore_standard_log) as mdl_logstore_standard_log,
  (SELECT COUNT(*) FROM mdl_context) as mdl_context, (SELECT COUNT(*) FROM mdl_user) as mdl_user,
      (SELECT COUNT(*) FROM mdl_course) as mdl_course, (SELECT COUNT(*) FROM mdl_modules) as mdl_modules,
         (SELECT COUNT(*) FROM mdl_course_modules) as mdl_course_modules, 
            (SELECT COUNT(*) FROM mdl_course_modules_completion) as mdl_course_modules_completion,
               (SELECT COUNT(*) FROM mdl_grade_grades) as mdl_grade_grades

 * postgresql://postgres:***@localhost/10acad_moodle
1 rows affected.

[(417554, 4359, 1052, 15, 26, 290, 4483, 3643)]

#### Write an SQL script to count the Number of quiz submissions by hour of day